.ScrollLocker {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 99;
    touch-action: auto;
    box-sizing: border-box;
}
.ScrollLocker_scroll {overflow-y: scroll;}
.ScrollLocker_lock {overflow-y: hidden;}
.ScrollLocker_hidden {display: none;}

